<section class="hero hero--barber">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Parturi - Kampaamo Hinnasto</h2>
                <p>Tarjoamme naiste sekä miesten hiusten leikkauksia.</p>
                <p>
                    Lisäksi meiltä hiusten Värjäys sekä väripaketit, jotka
                    sisältävät hiusten leikkauksen ja värjäksen tai
                    pelkän värjäyksen.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article>
                    <h3>{{haircutTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each haircutServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <h3>{{hairColorTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each hairColorServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <h3>{{hairColorMixTitle}}</h3>
                     <ul class="list-group list-group-flush">
                        {{#each hairColorMixServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Olaplex hoito - apua huonokuntoisille hiuksille!</h3>
                <p>
                    <strong>Mitä mahtaakaan olla Olaplex?</strong>
                </p>
                <p>
                    Olaplex-salonkihoito on ainutlaatuinen hoitomenetelmä,
                    jonka ansiosta voimme värjätä ja vaalentaa hiuksia
                    rasittamatta niitä liikaa. Olaplexin hoitomenetelmän
                    patentoitu ainesosa korjaa hiuksissa aikaisemmin
                    syntyneitä vaurioita, estää uusien vaurioiden
                    syntymistä, sekä hoitaa ja vahvistaa niitä. Tämän
                    ansiosta
                    hiukset voivat olla jopa paremmassa kunnossa värjäyksen
                    jälkeen, kuin ennen värjäystä. Kyseessä ei
                    kuitenkaan ole perinteinen hoitoaine. Voit ajatella,
                    että Olaplex hoitaa hiusta sisäisesti, sillä tämä
                    ihmeaine korjaa hiuksen rikkisiltoja. Hiukset joutuvat
                    kestämään joskus kovia. Kemialliset käsittelyt,
                    lämpölaitteiden käyttö, harjaaminen, suuret
                    lämpötilavaihtelut ja kaikenlainen hankaaminen saa
                    hiukset
                    kaipaamaan vahvistusta. Mitä enemmän vahvistamme
                    hiuksia, sitä enemmän ne kestävät. Jos esimerkiksi
                    kasvatat
                    hiuksia tai vaalennat niitä, on Olaplex mielestämme
                    ehdoton lisä hiustenhoitorutiineihin. Suosittelemme
                    varaamaan Olaplex-käsittelyn aina vähintään kemiallisten
                    käsittelyiden, kuten värjäyksen yhteydessä. Hiukset
                    pysyvät paremmassa kunnossa käsittelyistä huolimatta, ja
                    näin ollen myös uusi väri säilyy kauniimpana
                    pidempään. Jos haluat hemmotella itseäsi, voit varata
                    Olaplex-salonkihoidon ja jatkaa hiusten hoitoa
                    tekemällä ylläpitohoidon kotona kerran viikossa.
                    Olaplex-hoitoa ja -tuotteita voidaan käyttää
                    kaikenlaisiin
                    hiuksiin.
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="galleryItem">
                    <picture class="galleryItem--image">
                        <img class="galleryItem--image__img"
                            src="{{galleryItem.imageSrc}}"
                            alt="{{galleryItem.imageAlt}}"
                            loading="lazy" />
                    </picture>
                    <p class="galleryItem--description">{{galleryItem.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>