<section class="hero hero--gallery">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="mainContent">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-10">
                <h2>Kampaukset</h2>
                {{#if subtitle}}
                <p>{{subtitle}}</p>
                {{/if}}
            </div>
            {{#each galleryItems}}
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="galleryItem">
                    {{#each this}}
                    {{#if this.src}}
                    <a href="/admin/galleryitems/{{this._id}}">
                        <picture class="galleryItem--image">
                            <img class="galleryItem--image__img"
                                src="{{this.src}}" alt="{{this.alt}}"
                                loading="lazy" />
                        </picture>
                    </a>
                    <p class="galleryItem--description">{{this.title}}</p>
                    <form
                        action="/admin/galleryitems/{{this._id}}?_method=DELETE"
                        method="POST"><input type="hidden" name="publicId"
                            value="{{this.publicId}}" /><button type="submit"
                            class="btb btn-danger">Poista</button></form>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
