<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarMenu">
            <ul class="navbar-nav">
                {{#if user}}
                {{#each user}}
                <li class="nav-item"><a href="/admin" class="nav-link">{{this.username}}</a></li>
                {{/each}}
                <li class="nav-item"><a class="nav-link" href="/logout">Kirjaudu ulos</a></li>
                {{else}}
                <li class="nav-item"><a class="nav-link" href="/signup">Liity</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Kirjaudu</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{#if success}}
<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
        aria-label="Success:"><use xlink:href="#check-circle-fill"></svg>
        <div>
            {{success}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{else if warning}}
    <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
            aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"></svg>
        <div>
            {{warning}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{else if info}}
    <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
            aria-label="Info:"><use xlink:href="#info-fill"></svg>
        <div>
            {{info}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{else if error}}
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
                role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"
                    role="img" aria-label="Danger:"><use
            xlink:href="#exclamation-triangle-fill"></svg>
        <div>
            {{error}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{else}}
{{/if}}
