
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand navbar--brand" href="/">
            <img class="navbar--brand--img" src="/images/jk-logo.svg" alt="JK
                Beauty Room Tmi" />
        </a>
        <button class="navbar-toggler navbar--toggle" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle
            navigation">
            <span class="navbar-toggler-iconn"><svg
                    xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1
                        .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0
                        1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0
                        0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg></span>
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    {{#each navbarLinks}}
                    <li class="nav-item navbar--item">
                        {{#if this.ext}}
                        <a href={{ this.url }} class="nav-link
                            navbar--item--link" target="__blank">
                            {{ this.text }}
                        </a>
                        {{else}}
                        <a class="nav-link navbar--item--link" href={{ this.url
                            }}>
                            {{ this.text }}
                        </a>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
