<div style="display: none;"></div>
{{> hero}}
<section class="barber">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-8">
                {{#if contents}}
                {{#each contents}}
                <div class="row">
                    {{#each this}}
                    {{#if this.title}}
                    <div class="col-sm-12">
                        <h2>{{this.title}}</h2>
                        {{{this.body}}}
                    </div>
                    {{#if this.src}}
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="galleryItem">
                            <picture class="galleryItem--picture">
                                <img class="galleryItem--picture__img"
                                    src="{{this.src}}"
                                    alt="{{this.alt}}"
                                    loading="lazy" />
                            </picture>
                            <p class="galleryItem--description">{{this.alt}}</p>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
                {{/if}}
            </div>
            <div class="col-md-4">
                <article>
                    <h3>{{haircutTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each haircutServices}}
                        <li class="list-group-item
                            list-group--item">
                            {{#each this}}
                            {{#if this.name}}
                            <div class="list-group--item--name">
                                <span class="list-group--item--name--text">{{this.name}}</span>
                                {{#if this.additional}}
                                <small>{{this.additional}}</small>
                                {{/if}}
                            </div>
                            <span class="list-group--item--price">{{this.price}}
                                €
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
                <article>
                    <h3>{{hairColorTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each hairColorServices}}
                        <li class="list-group-item
                            list-group--item">
                            {{#each this}}
                            {{#if this.name}}
                            <div class="list-group--item--name">
                                <span class="list-group--item--name--text">{{this.name}}</span>
                                {{#if this.additional}}
                                <small>{{this.additional}}</small>
                                {{/if}}
                            </div>
                            <span class="list-group--item--price">{{this.price}}
                                €
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
                <article>
                    <h3>{{eyeBrowTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each eyeBrowServices}}
                        <li class="list-group-item
                            list-group--item">
                            {{#each this}}
                            {{#if this.name}}
                            <div class="list-group--item--name">
                                <span class="list-group--item--name--text">{{this.name}}</span>
                                {{#if this.additional}}
                                <small>{{this.additional}}</small>
                                {{/if}}
                            </div>
                            <span class="list-group--item--price">{{this.price}}
                                €
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>