<section class="hero hero--barber">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Parturi - Kampaamo Hinnasto</h2>
                <p>Tarjoamme naiste sekä miesten hiusten leikkauksia.</p>
                <p>
                    Lisäksi meiltä hiusten Värjäys sekä väripaketit, jotka
                    sisältävät hiusten leikkauksen ja värjäksen tai
                    pelkän värjäyksen.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article>
                    <h3>{{haircutTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each haircutServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <h3>{{hairColorTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each hairColorServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <h3>{{hairColorMixTitle}}</h3>
                     <ul class="list-group list-group-flush">
                        {{#each hairColorMixServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            {{#if this.name}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}} € 
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
        </div>
        {{#if contents}}
        {{#each contents}}
        <div class="row">
            {{#each this}}
            {{#if this.title}}
            <div class="col-sm-12">
                <h3>{{this.title}}</h3>
                {{{this.body}}}
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="galleryItem">
                    <picture class="galleryItem--image">
                        <img class="galleryItem--image__img"
                            src="{{this.src}}"
                            alt="{{this.alt}}"
                            loading="lazy" />
                    </picture>
                    <p class="galleryItem--description">{{this.alt}}</p>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
        {{/if}}
    </div>
</section>