<div style="display: none;"></div>
{{> hero}}
<section class="footcare">
    <div class="container">
        <div class="row my-5 justifyCenter">
            <div class="col-md-10">
                <h2>Jalkahoitojen hinnasto</h2>
                <p>Meiltä saatte tavallisen jalkahoidon, SPA jalkahoidon,
                    Pedikyyrin ja paljon muuta.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4">
                <article>
                    <h3>{{footcareTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each footcareServices}}
                        <li class="list-group-item
                            list-group--item">
                            {{#each this}}
                            {{#if this.name}}
                            <div class="list-group--item--name">
                                <span class="list-group--item--name--text">{{this.name}}</span>
                                {{#if this.additional}}
                                <small>{{this.additional}}</small>
                                {{/if}}
                            </div>
                            {{#if this.discountedPrice}}
                            <span class="list-group--item--price__discount">
                                <small class="normalPrice">{{this.price}}
                                    €</small>

                                {{this.discountedPrice}} €
                            </span>
                            {{else}}
                            <span class="list-group--item--price">{{this.price}}
                                €
                                {{#if this.secondPrice}}
                                - {{this.secondPrice}} €
                                {{/if}}
                                {{#if this.hourlyPrice}}
                                /h
                                {{/if}}
                            </span>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
        </div>
        {{#if contents}}
        {{#each contents}}
        <div class="row my-5">
            {{#each this}}
            {{#if this.title}}
            <div class="col-sm-12">
                <h3>{{this.title}}</h3>
                {{{this.body}}}
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6">
                <div class="galleryItem">
                    <picture class="galleryItem--picture">
                        <img class="galleryItem--picture__img"
                            src="{{this.src}}"
                            alt="{{this.alt}}"
                            loading="lazy" />
                    </picture>
                    <p class="galleryItem--description">{{this.alt}}</p>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
        {{/if}}
    </div>
</section>