<section class="hero hero--footcare">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="mainContent">
				<div class="container">
					<div class="row justifyCenter">
						<div class="col-md-10">
							<h2>Jalkahoitojen hinnasto</h2>
							<p>Meiltä saatte tavallisen jalkahoidon, SPA jalkahoidon, Pedikyyrin ja paljon muuta.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
                <article>
                    <h3>{{footcareTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each footcareServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            {{#each this}}
                            <span>{{this.name}}</span>
                            {{#if this.additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}}</span>
                            {{/each}}
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
					</div>
				</div>
			</section>