<div style="display: none;"></div>
{{> hero}}
<section class="mainContent">
    <div class="container">
        {{#if contents}}
        {{#each contents}}
        <div class="row my-4 py-3 px-5 d-flex justify-content-center mainContent--row">
            {{#each this}}
            {{#if this.title}}
            <div class="col-md-12 mainContent--row--content">
                <h2>{{this.title}}</h2>
                {{{this.body}}}
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/each}}
        {{/if}}
        <div class="row d-flex my-4 py-3 px-5 mainContent--row mainContent--row__blue">
            {{#each servicesCardList}}
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-center">
                <a href="{{this.href}}">
                    <div class="card">
                        <picture class="card--picture">
                            <img src="{{this.imageSrc}}" alt="{{this.imageAlt}}"
                                loading="lazy" />
                        </picture>
                        <article class="card--content">
                            <h4>{{this.title}}</h4>
                            <p>{{this.description}}</p>
                        </article>
                    </div>
                </a>
            </div>
            {{/each}}
            <div class="mainContent--bluesplash">
                <img src="/images/splash-star.svg" alt="blue blur" />
            </div>
        </div>
    </div>
</section>
