<div style="display: none;"></div>
{{> hero}}
<section class="mainContent">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <h2>Tietoa meistä</h2>
                {{#if subtitle}}
                <p>{{subtitle}}</p>
                {{/if}}
                <p>
                    JK Beautry Room tarjoaa saman katon alta kaiken mitä
                    kauneuden hoitoon tarvitset hiusten leikkauksesta
                    jalkojen hoitoon,
                    <br /> yli 5 vuoden kokemuksella.
                </p>
            </div>
        </div>
        <div class="row d-flex my-4 py-3 px-5 mainContent--row">
            <div class="col-md-12 mainContent--row--content">
                <h2>Tarjoamamme palvelut</h2>
                <p>Meiltä löytyvät Parturi kampaamo, rakennekynnet, jalkahoidot
                    sekä kesällä uutena tulossa kosmetologin palvelut.</p>
            </div>
            {{#each servicesCardList}}
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-center">
                <a href="{{this.href}}">
                    <div class="card">
                        <picture class="card--picture">
                            <img src="{{this.imageSrc}}" alt="{{this.imageAlt}}"
                                loading="lazy" />
                        </picture>
                        <article class="card--content">
                            <h4>{{this.title}}</h4>
                            <p>{{this.description}}</p>
                        </article>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
