<section>
    <div class="container">
        <div class="row my-5 d-flex justify-content-center">
            <div class="col-md-6">
                {{#each content}}
                {{#if this.title}}
                <h1>Muokkaa "{{this.title}}" sisältöä</h1>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center">
            <div class="col-md-6">
                {{#each content}}
                {{#if this._id}}
                <form action="/admin/contents/{{this._id}}?_method=PUT"
                    method="POST">
                    {{/if}}
                    {{/each}}
                    <div class="form-group">
                        <label for="category" class="form-label">Sivu *</label>
                        <select name="category" id="category"
                            class="form-control" required>
                            {{#each content}}
                            {{#if this.category}}
                            <option value="{{this.category}}">{{this.category}}</option>
                            {{/if}}
                            {{/each}}
                            {{#each pageCategories}}
                            <option value={{this.value}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{#each content}}
                    {{#if this.title}}
                    <div class="form-group">
                        <label for="title" class="form-label">Otsikko *</label>
                        <input type="text" id="title" name="title"
                            class="form-control" value={{this.title}} required
                            />
                    </div>
                    <div class="form-group">
                        <label for="summernote" class="form-label">Sisältö *</label>
                        <textarea class="form-control" name="body" required
                            id="summernote" value={{{this.body}}}></textarea>
                    </div>
                    {{/if}}
                    {{/each}}
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">Muokkaa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>