<section class="hero hero--nails">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>
<section class="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Rakennekynsien hinnasto</h2>
                <p>Meiltä saatte rakennekynnet geelilakkauksella ja ilman ja
                    paljon muuta.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article>
                    <h3>{{nailsTitle}}</h3>
                    <ul class="list-group list-group-flush">
                        {{#each nailsServices}}
                        <li class="list-group-item
                            list-group-item__container">
                            <span>{{this.name}}</span>
                            {{#if additional}}
                            <small>{{this.additional}}</small>
                            {{/if}}
                            <span class="list-group-item__container__price">{{this.price}}</span>
                        </li>
                        {{/each}}
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>